<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="container">
        <% if(message.length !== 0) { %>
            <div class="alert alert-success mt-3" role="alert">
            <i class="bi bi-bag-check"></i>
            <%= message %>
            </div>
        <% } %>

        <a href="/blog/create" class="create-blog btn btn-outline-primary" id="createBlog">
            <i class="bi bi-plus-lg"></i>
            Create Blog
        </a>
        <h3 class="mt-4 mb-3 underline">Blog List</h3>

        <% if(blogs.length > 0) { %>
            <% blogs.forEach(element => { %>
                <a href="blog/<%= element._id %>">
                    <div class="card mb-3">
                        <div class="card-body">
                        <div class="card-mark"></div>
                            <h4><%= element['title'] %></h4>
                            <p class="blog-snippet"><%= element['snippet'] %></p>    
                        </div>
                    </div>
                </a>
            <% }); %>
        <% } %>

    </div>

    <script>
        const url_string = window.location.pathname;
        var url = new URL(url_string);
        var c = url.searchParams.get("c");
        console.log('c');
    </script>
</body>
</html>